@media screen and (min-width: 575px){
	

	main {
		display: flex;
	}	

	#header {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;	
		margin-bottom: 1rem;
		background-color: rgba(37, 84, 92,0.2);
	}

	#user img {
		width: 200px;
		border: none;
		box-shadow: none;
	}

	#user {
		display: flex;
		flex-direction: row;
		width: 50%;
		display: flex;
		justify-content: flex-start;
	}

	.social-link-nav {
		padding: 1rem 1rem 1rem 0;
	}

	.socials {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.social-links {
		display: flex;
		justify-content:center ;
		align-items: flex-end;
		width: 50%;
	}

	.identity {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.left-section {
		width: 35%;
		margin-left: 3rem;
	}

	.right-section {
		width:65%;
		margin-right: 3rem;
	}

	.left-section,
	.right-section {
		display: flex;
		flex-direction: column;
	}


	.bars {
		width: 70%;
		height: 15px;
	}

	.bar {
		height: 11px;
		width: 99%;
	}
}